In [3]:
import pandas as pd

In [4]:
from main import distance

In [5]:
from main import pricediff

In [6]:
path_direct="c:\workspace\sefactory\week1_pandas\kc_house_data.csv"

df=pd.read_csv(path_direct)

In [7]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
distance_houses= distance(6414100192, 7129300520 , df)
distance_houses

c:\Workspace\SEfactory\week1_pandas\main.py:27: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon1 = radians(log1[1])
c:\Workspace\SEfactory\week1_pandas\main.py:28: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon2 = radians(log2[1])
c:\Workspace\SEfactory\week1_pandas\main.py:29: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat1 = radians(log1[0])
c:\Workspace\SEfactory\week1_pandas\main.py:30: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat2 = radians(log2[0])

23.787076791429755

In [9]:
diff=pricediff(6414100192, 7129300520 , df)
diff

316100.0

In [11]:
idin=df.at[4,'id']
idin

1954400510

In [21]:
dict={}
for i in range(0,15):

    idin1=df.at[0,'id'] #fix one location and see price differences around this house
    idin2=df.at[i+1,'id']
    dist=distance(idin1, idin2 , df)
    diff=pricediff(idin1, idin2 , df)
    dict[dist]=diff
dict

c:\Workspace\SEfactory\week1_pandas\main.py:27: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon1 = radians(log1[1])
c:\Workspace\SEfactory\week1_pandas\main.py:28: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon2 = radians(log2[1])
c:\Workspace\SEfactory\week1_pandas\main.py:29: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat1 = radians(log1[0])
c:\Workspace\SEfactory\week1_pandas\main.py:30: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat2 = radians(log2[0])

{23.787076791429755: -316100.0,
 25.271977358788508: 41900.0,
 10.269136634814387: -382100.0,
 19.771055163514532: -288100.0,
 24.836126949758416: -1008100.0,
 23.016634842312495: -35600.0,
 12.120048776659344: -69950.0,
 6.009675754166886: -7600.0,
 23.260067929198794: -101100.0,
 13.026143316778494: -440600.0,
 20.054094475935074: -246100.0,
 27.27908063005006: -88100.0,
 19.504250553836698: -178100.0,
 20.42915542176867: -308100.0,
 11.102388815460074: -428100.0}

In [24]:
# houses located in a 20km parameter around house 7129300520 are generally far more expensive 
# with this method we can find 
idin1=df.at[0,'id']
idin1

7129300520

In [34]:
dict={}
for i in range(1,80):

    idin1=df.at[1,'id'] #fix one location and see price differences of houses around specific distances
    idin2=df.at[i+1,'id']
    dist=distance(idin1, idin2 , df)
    diff=pricediff(idin1, idin2 , df)
    if dist<3:
        dict[dist]=diff
    
dict

{2.6345853115217683: 153000.0,
 2.9301637821649216: 258000.0,
 2.4389999764320835: -33000.0,
 2.1883960649953984: 128000.0}

In [35]:
idin1=df.at[1,'id'] #houses around a 2km radius from house 6414100192 are generally as expensive as houses farther away,
                    # This might suggest house 6414100192 relative to the area is exceptionally low priced
idin1

6414100192